body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background: url('little-star.gif') repeat;
    border: 6px solid #66d1ff;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(90deg, #a7f5ff, #c8ffe0, #fff7a5);
    border-bottom: 6px solid #66d1ff;
    border-left: 6px solid #66d1ff;
    border-right: 6px solid #66d1ff;
}

header h1 {
    font-size: 60px;
    font-weight: bold;
    color: #008cff;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #7af9ff;
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
    0% { text-shadow: 0 0 10px #00eaff; }
    50% { text-shadow: 0 0 25px #7af9ff; }
    100% { text-shadow: 0 0 10px #00eaff; }
}

header .prayer {
    font-size: 18px;
    color: #007c68;
    margin-top: 10px;
}

/* SPONGEBOB ANIMATION */
.spongebob-container {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-top: 6px solid #66d1ff;
}

.spongebob {
    width: 180px;
    position: absolute;
    bottom: 20px;
    animation: walk 6s linear infinite, jump 0.7s ease-in-out infinite alternate;
}

/* berjalan dari kanan ke kiri */
@keyframes walk {
    0% { right: -200px; }
    100% { right: 100%; }
}

/* animasi lompat */
@keyframes jump {
    0% { transform: translateY(0); }
    100% { transform: translateY(-25px); }
}
