body {
    margin: 0;
    padding: 0;
    background: #ffffff; /* halaman */
    font-family: Arial, sans-serif;
}

.deleted-text {
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 10px;
    left: 10px;
}
